{:header "forever"
 :title "A pallet crate to install and configure forever."
 :git-repo "https://github.com/pallet/forever-crate"
 :api-docs "http://palletops.com/forever-crate/0.8/api"
 :annotated-docs "http://palletops.com/forever-crate/0.8/annotated/uberdoc.html"
 :tag-prefix ""
 :versions [{:pallet "0.8.0-RC.4" :version "0.8.0-alpha.1"}]}
